aiodns==2.0.0
aiohttp==3.6.2
astroid==2.3.3
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.3.0
cchardet==2.1.5
cffi==1.14.0
chardet==3.0.4
Click==7.0
entrypoints==0.3
flake8==3.7.9
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
multidict==4.7.4
pycares==4.2.0
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
pylint==2.4.4
six==1.14.0
typed-ast==1.4.1
Werkzeug==1.0.0
wrapt==1.11.2
yarl==1.4.2
